@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.top-header-flex{
  display: flex; 
  width: 100%;
}

.top-header-flex p{
  flex: 1; /* Each paragraph takes up equal space */
  padding: 10px; /* Optional padding for spacing between paragraphs */

}

.max-h-400 {
  max-height: 400px;
}

.w-200 {
  width: 37,5rem;
}

.rotate-270{
  transform: rotate(270deg);
}